header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header nav > div {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.header__logo {
  max-height: 10rem;
  width: auto;
  display: block;
}



@media (width <= 500px) {
  .header__logo {
    max-height: 6rem;
  }
}
