.speakers {
  &__page {
    max-width: 1200px;
    justify-content: center;
    padding: 2rem 1rem;
  }

  &__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
    container-type: inline-size;
  }

  @container (min-width: calc(3 * 350px)) {
    &__flex {
      flex-wrap: nowrap;
    }
  }

  &__block {
    background: $secondary;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 20%;
    max-width: 350px;
    min-width: 260px;
  }

  &__image {
    width: 100%;
    max-width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 1.25rem;
    margin: 0.5rem 0 0.25rem;
    font-weight: 700;
  }

  &__desc {
    font-size: 1rem;
    color: #444;
    margin: 0 0 0.5rem;
  }
}

