<footer class="uoc-footer">
  <div class="footer-content">
    <!-- Left: (C) LOGO -->
    <div class="footer-left">
      <span class="footer-logo">&copy; LOGO</span>
    </div>
    <!-- Center: Navigation Links -->
    <nav class="footer-center">
      <a href="/">Front Page</a>
      <a href="./speakers.html">Speakers</a>
      <a href="#">Page Three</a>
      <a href="#">Page Four</a>
    </nav>
    <!-- Right: Social Icons -->
    <div class="footer-right">
      <a href="#" aria-label="Google Plus">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/google.svg" alt="Google Plus" class="footer-icon">
      </a>
      <a href="#" aria-label="Facebook">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg" alt="Facebook" class="footer-icon">
      </a>
      <a href="#" aria-label="Twitter">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/twitter.svg" alt="Twitter" class="footer-icon">
      </a>
    </div>
  </div>
</footer>
